@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.logo-cadastro{
    height: 100px;
}

.cabecalho10{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    background-color: #2e01aa;
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
}

body{
    font-size: 100%;
    background: #2C2A2A;
    font-family: 'Russo One', sans-serif;
    color:white;
}

h1{
    width: 20%;
    margin-left: 40%;
    margin-top: 2%;
    font-size: 50px;
}

.formCadastro{
    margin: auto;
    margin-top: 3%;
    width: 50%;
    background: #4A4747;
    padding: 3%;
    border-radius: 0px 50px 0px 50px;
}

.inputCadastro{
    margin-bottom: 10%;
    height: 50px;
    width: 50%;
    font-size: 24px;
}

.btnCadastro{
    margin-left: 25%;
    height: 50px;
    width: 30%;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #5e2ee4;
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
}

.btnCadastro:hover{
    cursor: pointer;
}

/*.menuzin{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    width: 817px;
    height: 730px;
    left: 50%;
    top: 56%;
    transform: translate(-50%,-50%);
    background: #4A4747;
    border-radius: 0px 50px;
    padding-top: 5px 100px;
    
}

.formCadastro {
    margin-top: 300px;
    padding: 0;
}

.botaozin{
    background-color: #5e2ee4;
    border: none;
    border-radius: 10px;
    font-family: 'Russo One', sans-serif;
    color: #fff;
    padding: none;
    font-size: 40px;
    width: 190px;
    position:absolute;
    left: 36%;
    top: 89%;
}

.botaozin:hover{
    background-color: mediumpurple;
    cursor: pointer;
}

.divInput{
    position: absolute;
    top: 14%;
    left: 30%;
    font-size: 34px;
    margin-bottom: 30px;
}

.inputCadastro{
    position: absolute;
    font-size: 25px;
}
/*
.sobre{
    position: absolute;
    top: 26%;
    left: 30%;
    font-size: 34px;
}

.sobrenome6{
    position: absolute;
    top: 115%;
    font-size: 25px;
}

.nasc{
    position: absolute;
    top: 38%;
    left: 30%;
    font-size: 34px;
}

.data{
    position: absolute;
    top: 115%;
    font-size: 25px;
}

.mail{
    position: absolute;
    top: 50%;
    left: 30%;
    font-size: 34px;
}

.email4{
    position: absolute;
    top: 115%;
    font-size: 25px;
}

.password{
    position: absolute;
    top: 62%;
    left: 30%;
    font-size: 34px;
}

.senha3{
    position: absolute;
    top: 115%;
    font-size: 25px;
}

.user{
    position: absolute;
    top: 74%;
    left: 30%;
    font-size: 34px;
}

.usuario1{
    position: absolute;
    top: 115%;
    font-size: 25px;
}*/

.voltar{
    position:absolute;
    top: 30px;
    left: 6%;
    font-size: 27px;
}

.titulo{
    position: absolute;
    top: 2%;
    left: 30%;
    font-size: 27px;
}