@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: #2C2A2A;
    font-family: 'Russo One', sans-serif;
    color:white;
}


.logo-login1{
    height: 100px;
}

.cabecalho11{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    background-color: #2e01aa;
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
}

.foto{
    display: flex;
    width: 80px;
    height: 80px;
    background: #C4C4C4;
    border-radius: 54px;
    font-size: 17px;
    position: absolute;
    top: 1%;
    left: 95%;
    padding: 11px;
    padding-left: 18px;
    padding-top: 8px;
}

.menuitem1{
    position: absolute;
    left: 83%;
    top: 4%;
    color:white;
}

.fotinha{
    height: 85px;
    width: 200px;
}

.menuitem2{
    position: absolute;
    left: 90%;
    bottom: 793px;
    width: 20px;
    color:white;
    font-size: 17px;
}

.img1{
    position: absolute;
    top: 35%;
    left: 24%;
    height: 540px;
    width: 900px;
}

.img2{
    position: absolute;
    top: 35%;
    left: 36%;
}

h1{
    position: absolute;
    top: 20%;
    left: 42%;
    font-size: 50px;
}

.conteudo4{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 33%;
    top: 68%;
    width: 700px;
}

.subtitulo{
    font-size: 24px;
}

.voltar{
    position:absolute;
    top: 30px;
    left: 6%;
    font-size: 27px;
    color:white;
}
