@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: #2C2A2A;
    font-family: 'Russo One', sans-serif;
    color:white;
}

.logo-login1{
    height: 100px;
}

.cabecalho17{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    background-color: #2e01aa;
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
}

.foto{
    display: flex;
    width: 80px;
    height: 80px;
    background: #C4C4C4;
    border-radius: 54px;
    font-size: 17px;
    position: absolute;
    top: 1%;
    left: 95%;
    padding: 11px;
    padding-left: 18px;
    padding-top: 8px;
}

.fotinha{
    height: 85px;
    width: 200px;
}

.menuitem1{
    position: absolute;
    left: 83%;
    top: 4%;
    color:white;
}

.menuitem2{
    position: absolute;
    left: 90%;
    bottom: 793px;
    width: 20px;
    color:white;
    font-size: 17px;
}

.seleção{
    background-color: black;
}

.img1{
    height: 230px;
    position: absolute;
    left: 12%;
    top: 37%;
    border-radius: 0px 50px;
}

.img2{
    height: 230px;
    position: absolute;
    left: 32%;
    top: 37%;
}

.img3{
    height: 230px;
    position: absolute;
    left: 52%;
    top: 37%;
}

.img4{
    height: 230px;
    position: absolute;
    left: 72%;
    top: 37%;
}

.img5{
    height: 230px;
    position: absolute;
    left: 12%;
    top: 67%;
}

.img6{
    height: 230px;
    position: absolute;
    left: 32%;
    top: 67%;
}

.img7{
    height: 230px;
    position: absolute;
    left: 52%;
    top: 67%;
}

.img8{
    height: 230px;
    position: absolute;
    left: 72%;
    top: 67%;
}

.prox{
    position: absolute;
    left: 11%;
    top: 35%;
    font-size: 20px;
    background-color: rgb(26, 25, 25, 0.6);
    padding-left: 1190px;
    padding-top: 510px;
    padding-right: 10px;
    border-radius: 24px;
}

h1{
    position: absolute;
    left: 38%;
    top: 20%;
    font-size: 50px;
}

.prox1{
    position: absolute;
    left: 1377px;
    top: 810px;
    font-size: 20px;
}

.prox1:hover{
    color:blueviolet;
    cursor: pointer;
}

.selec1{
    position: absolute;
    left: 14%;
    top: 58%;
    font-size: 25px;
    color:rgb(0, 0, 0);
}

.selec1:hover{
    color:#ff00ea;
    cursor:pointer;
}

.voltar{
    position:absolute;
    top: 30px;
    left: 6%;
    font-size: 27px;
    color:white;
}
