<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/calculadora.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora TMB</title>
</head>

    <header class="cabecalho">
        <img class="cabecalho-logo" src="../images/logo.png">
        <nav class="menu">
            <a class="menu-item" href="">SAIR</a>
        </nav>
    </header>

    <h1>
        CALCULADORA DE TMB
    </h1>

    <div class="calculadora">
        <form action="">
            <div style="float: right;">
                <label for="">Peso</label>
                <input type="text" placeholder="Kg">
            </div>
            <div style="float: right;">
                <label for="">Idade</label>
                <input type="text">
            </div>
            <div style="float: right;">
                <label for="">Altura (cm)</label>
                <input type="text" placeholder="Altura(CM)">
            </div>

            <input class="buttonCalcular" type="submit" value="Calcular">
        </form>
    </div>