<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/calculadora.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora TMB</title>
</head>

    <header class="cabecalho">
        <a href="/">
            <img class="cabecalho-logo" src="../images/logo.png">
        </a>
        <nav class="menu">
        </nav>
    </header>

    <h1>
        CALCULE SUA TAXA METABÓLICA BASAL
    </h1>

    <div class="calculadora">
        <form id="form" action="" method="">
            <div style="text-align:center">
                <label for="">Sexo</label>
                <select id="sexo">
                    <option value="masculino">Masculino</option>
                    <option value="feminino">Feminino</option>
                </select>
            </div>
            <div style="text-align:center">
                <label for="">Peso</label>
                <input id="peso" type="text" placeholder="Kg">
            </div>
            <div style="text-align:center">
                <label for="">Idade</label>
                <input id="idade" type="text" placeholder="Anos">
            </div>
            <div style="text-align:center">
                <label for="">Altura</label>
                <input id="altura" type="text" placeholder="Altura(CM)">
            </div>
            <div style="">
                <label for="" style="margin-left: 30%">TMB = </label>
                <p id="resultadoTmb"></p>
            </div>
            <input class="buttonCalcular" id="dadosCalc" type="submit" value="Calcular">
        </form>
    </div>

    <script>
        const btn = document.querySelector("#dadosCalc");

btn.addEventListener("click", function(e) {

    e.preventDefault();

    const getSexo = document.querySelector("#sexo")
    const getPeso = document.querySelector("#peso")
    const getIdade = document.querySelector("#idade")
    const getAltura = document.querySelector("#altura")

    const sexo = getSexo.value;
    const peso = getPeso.value;
    const idade = getIdade.value;
    const altura = getAltura.value;

    var tmb;

    if(getSexo.value == "masculino"){

        tmb = (66 + (13.7 * peso)) + ((5 * altura) - (6.8 * idade))
    
    }else{
        tmb = (655 + (9.6 * peso)) + ((1.8 * altura) - (4.7 * idade))
    }

    document.getElementById("resultadoTmb").innerHTML = tmb

});
    </script>