<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/calculadora.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora TMB</title>
</head>

    <header class="cabecalho">
        <a href="/">
            <img class="cabecalho-logo" src="../images/logo.png">
        </a>
        <nav class="menu">
        </nav>
    </header>

    <h1>
        CALCULE SUA TAXA METABÓLICA BASAL
    </h1>

    <div class="calculadora">
        <form action="">
            <div style="text-align:center">
                <label for="">Sexo</label>
                <select id="sexo">
                    <option value="masculino">Masculino</option>
                    <option value="feminino">Feminino</option>
                </select>
            </div>
            <div style="text-align:center">
                <label for="">Peso</label>
                <input type="text" placeholder="Kg">
            </div>
            <div style="text-align:center">
                <label for="">Idade</label>
                <input type="text" placeholder="Anos">
            </div>
            <div style="text-align:center">
                <label for="">Altura</label>
                <input type="text" placeholder="Altura(CM)">
            </div>

            <input class="buttonCalcular" type="submit" value="Calcular">
        </form>
    </div>