<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/editar.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
</head>

    <header class="cabecalho">
        <img class="cabecalho-logo" src="../images/logo.png">
        <nav class="menu">
            <a class="menu-item" href="">SAIR</a>
        </nav>
    </header>

    <div class="titulo">
        <h1>OLÁ, FULANO</h1>
    </div>
    
        <div class="divForm1">
            <form action="" class="formEditar">
                <div class="inputEditar" style="margin-top: 3%;">
                    <label for="">NOME:</label>
                    <input type="text" name="nome">
                </div>
    
                <div class="inputEditar">
                    <label for="">PESO:</label>
                    <input type="text" name="peso">
                </div>

                <div class="inputEditar">
                    <label for="">ALTURA:</label>
                    <input type="text" name="altura">
                </div>

                <div>
                    <label for="">IDADE:</label>
                    <input type="date" name="idade">
                </div>

                <input type="submit" value="EDITAR">
        </div>
        </section>

    