<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/editar.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
</head>

    <header class="cabecalho">
        <img class="cabecalho-logo" src="../images/logo.png">
        <nav class="menu">
            <a class="menu-item" href="">SAIR</a>
        </nav>
    </header>

    <div class="titulo">
        <h1>OLÁ, FULANO</h1>
    </div>
    
        <div class="divForm1">
            <form action="" class="formEditar">
                <div  style="margin-top: 5%;">
                    <label for="">NOME:</label>
                    <input style="margin-left:0.5%" class="inputEditar" type="text" name="nome">
                </div>
    
                <div style="margin-top: 5%;">
                    <label for="">PESO:</label>
                    <input style="margin-left:1.5%" placeholder="Kg" class="inputEditar" type="text" name="peso">
                </div>

                <div style="margin-top: 5%;">
                    <label for="">ALTURA:</label>
                    <input style="margin-right:4%" placeholder="Altura em CM" class="inputEditar" type="text" name="altura">
                </div>

                <div class="dataNasc">
                    <label for="">IDADE:</label>
                    <input style="height: 40px; width:30%; border-radius:5px; border: none" type="date" name="idade">
                </div>

                <input class="buttonEditar" type="submit" value="EDITAR">
            </form>
        </div>

        <div class="titulo" style="margin-bottom: auto;">
            <h1>Alterar senha</h1>
        </div>
        <div class="divForm1" >
            <form action="" class="formEditar">
                <div  style="margin-top: 5%;">
                    <label for="">SENHA:</label>
                    <input style="margin-left:0.5%" class="inputEditar" type="text" name="nome">
                </div>

                <input class="buttonEditar" type="submit" value="ALTERAR">
            </form>
        </div>
        </section>

    