<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/listaDeExercicios.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcional</title>
</head>

    <header class="cabecalho">
        <a href="/">
            <img class="cabecalho-logo" src="../images/logo.png">
        </a>
        <nav class="menu">
        </nav>
    </header>

    <a href="/listaDeTreinos" class="voltar">👈Voltar</a>

    <h1>
        Funcional
    </h1>

    <section class="painelExercicios">
        {{#each exerciciosFuncional}}
        <div class="exercicio">
            <a href="/exercicioDeFuncional/{{idExercicio}}">
                <img class="imgExercicio" src="images/funcional.png" alt="" width="100%" height="80%">
            </a>
            
            <div class="labelExercicio">
                <label for="">
                <a href="/exercicioDeFuncional/{{idExercicio}}" style="color: white;">
                {{nomeExercicio}}
                </a>
            </label>
            </div>
        </div>
        {{/each}}

    </section>