{{#each exerciciosMusculacao}}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/exercicio.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{nomeExercicio}}</title>
</head>

    <header class="cabecalho">
        <a href="/">
            <img class="cabecalho-logo" src="../images/logo.png">
        </a>
        <nav class="menu">
        </nav>
    </header>

    <a href="/exerciciosMusculacao" class="voltar">👈Voltar</a>
 
    <h1>
        {{nomeExercicio}}
    </h1>

        <div class="infoExercicio">
            <label for="" style="margin-top: 5%;">Resultados:</label>
                <p style="margin-bottom: 5%; color:white;">{{resultados}}</p>
            <label for="">Na Prática:</label>
                <p>{{info}}</p>
        </div>
    {{/each}}