<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Um guia de exercicios fisicos para ter um bem estar">
    <title>WKbody</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

    <header class="cabecalho">
        <a href="/"><img class="cabecalho-logo" src="../images/logo.png"></a>
        <nav class="menu">
            <a class="menu-item" href="/calculadoraTMB">CALCULADORA TMB</a>
            <a class="menu-item" href="/listaDeTreinos">TREINOS</a>
        </nav>
    </header>

    <main class="conteudo">
        <div class="conteudo1" style="margin-top: 10%;">
            <div class="conteudo-escrito">
                <p>ENTENDA <br> CADA <br>EXERCÍCIO</p>
            </div>

            <div class="paragrafo1">
                <P>PARA O SEU TREINO IDEAL, TEMOS UMA VASTA LISTA DE EXERCÍCIOS PARA VOCÊ PODER REALIZÁ-LOS, CADASTRE-SE AGORA E COMEÇE A PROCURAR POR AQUELES EXERCÍCIOS QUE VOCÊ NÃO LEMBRA COMO EXECUTAR OU PRA AQUELE QUE FOI PASSADO PARA VOCÊ FAZER MAS AINDA NÃO VIU NA PRÁTICA COMO EXECUTÁ-LO DE FORMA CORRETA.</P>
            </div>
        </div>
        
        <div class="conteudo2">
            <div class="paragrafo2">
                <p>A TAXA METABÓLICA BASAL (TMB) É A QUANTIDADE DE ENERGIA NECESSÁRIA PARA A MANUTENÇÃO DAS FUNÇÕES VITAIS DO ORGANISMO AO LONGO DE 24 HORAS. ELA É MEDIDA EM CALORIAS, QUE É A ENERGIA EXTRÁIDA PELO NOSSO CORPO A PARTIR DOS MACRONUTRIENTES (CARBOIDRATOS, PROTEÍNAS E GORDURAS TOTAIS).</p>
                <a class="botão" href="/calculadoraTMB">Calcular</a>
            </div>

            <div class="escrita">
                <p>TAXA <br> DE <br> METABOLISMO <br> BASAL</p>
            </div>
        </div>

        <div class="conteudo3">
            <div class="mensagem">
                <p id="quemsomos">QUEM SOMOS</p>
            </div>

            <div class="paragrafo3">
                <p>ACREDITAMOS QUE PARA UMA VIDA SAUDÁVEL E UM TREINO ELEVADO, VOCÊ NÃO PRECISA SAIR POR AÍ BUSCANDO INFORMAÇÕES EM DIVERSOS SITES, BLOGS E ETC, E MUITO MENOS PAGAR POR ISSO, E POR ESSE MOTIVO OFERECEMOS UM SERVIÇO 100% GRATUITO PARA GUIAR OS SEUS TREINOS NO DIA A DIA, O NOSSO MAIOR FOCO AQUI É OFERECER AS MELHORES DICAS E GUIAS PARA O SEU TREINO DIÁRIO, EAI BORA TREINAR? 😎</p>
            </div>
        </div>
    </main>