<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/listaDeTreinos.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Treinos</title>
</head>

    <header class="cabecalho">
        <img class="cabecalho-logo" src="../images/logo.png">
        <nav class="menu">
            <a class="menu-item" href="">SAIR</a>
        </nav>
    </header>

    <h1>
        Eai Fulano, bora treinar?💪​😎​
    </h1>

    <section class="listaDeTreinos">
        <div class="treino">
            <img src="../public/images/cardio.png" width="100%" height="200" alt="">
            <label for="">Cardio</label>
        </div>

        <div class="treino">
            <img src="../public/images/cardio.png" width="100%" height="200" alt="">
            <label for="">HiiT</label>
        </div>

        <div class="treino">
            <img src="../public/images/cardio.png" width="100%" height="200" alt="">
            <label for="">Musculação</label>
        </div>

        <div class="treino">
            <img src="../public/images/cardio.png" width="100%" height="200" alt="">
            <label for="">Funcional</label>
        </div>
    </section>