@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: #2C2A2A;
    color:white;
    font-family: 'Russo One', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 5%;
}

label{
    font-size: 30px;
}

input{
    height: 50px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    width: 30%;
    margin-bottom: 5%;
}

.calculadora{
    margin-top: 5%;
    background-color: #4A4747;
    border: none;
    border-radius: 0px 50px;
    width: 40%;
    margin-left: 30%;
    padding: 2%;
    height: auto;
}

.buttonCalcular{
    color: white;
    background-color:#6234E3;
    font-family: 'Russo One', sans-serif;
    margin-left: 40%;
}

.buttonCalcular:hover{
    cursor: pointer;
}