@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: #2C2A2A;
    font-family: 'Russo One', sans-serif;
    color:white;
    padding-bottom: 34px;
}


.titulo{
    text-align: center;
    margin: 5%;
}

.formEditar{
    background-color: #4A4747;
    height: auto;
    max-width: 50%;
    width: 40%;
    display: inline-block;
    border-radius: 0px 50px;
}

.divForm1{
    text-align: center;
}

.inputEditar{
    margin-bottom: 3%;
    height: 40px;
    font-size: 24px;
    border-radius: 5px;
    border:none;
}

label {
    font-size: 24px;
}

.dataNasc {
    text-align: left;
    margin-top: 5%;
    margin-left: 14.5%;
}

.buttonEditar{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 25%;
    height: 40px;
    border-radius: 5px;
    background-color: #6234E3;
    color: white;
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
    border: none;
}

.buttonEditar:hover{
    cursor: pointer;
}