@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: #2C2A2A;
    font-family: 'Russo One', sans-serif;
    color:white;
    padding-bottom: 34px;
}


.titulo{
    text-align: center;
    margin: 5%;
}

.formEditar{
    background-color: #4A4747;
    height: 300px;
    max-width: 50%;
    width: 40%;
    display: inline-block;
    border-radius: 0px 50px;
}

.divForm1{
    text-align: center;
}

.inputEditar{
    margin-bottom: 3%;
    height: 50px;
    font-size: 24px;
}