@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

label {
    font-size: 24px;
}

body{
    font-size: 100%;
    background: #2C2A2A;
    font-family: 'Russo One', sans-serif;
    color:white;
}

h1{
    width: 20%;
    margin-left: 40%;
    margin-top: 2%;
    font-size: 50px;
}

.formLogin{
    margin: auto;
    margin-top: 3%;
    width: 50%;
    background: #4A4747;
    padding: 3%;
    border-radius: 0px 50px 0px 50px;
}

.inputLogin{
    margin-bottom: 10%;
    height: 40px;
    width: 50%;
    font-size: 24px;
    border-radius: 5px;
    border:none;
}

.btnLogin{
    height: 50px;
    width: 30%;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #5e2ee4;
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
}

.btnLogin:hover{
    cursor: pointer;
}

.titulo{
    position: absolute;
    top: 2%;
    left: 30%;
    font-size: 27px;
}