<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CADASTRE-SE</title>
    <link rel="stylesheet" type="text/css" href="cadastro.css">
</head>

<header class="cabecalho10">
    <a href="index.html"><img class="logo-cadastro" src="logo.png"></a>
</header>

<body>

    <p class="voltar">👈Voltar</p>

    <selection class="menuzin">
        <div class="titulo">
            <h1>CADASTRO</h1>
        </div>

        <div class="name">
            <p>Nome</p>
            <input type="text" class="nome6">
        </div><br>
    
        <div class="sobre">
            <p>Sobrenome</p>
            <input type="text" class="sobrenome6">
        </div><br>

        <div class="nasc">
            <p>Data Nascimento</p>
            <input type="number" class="data">
        </div><br>

        <div class="mail">
            <p>Email</p>
            <input type="email" class="email4">
        </div><br>

        <div class="password">
            <p>Senha</p>
            <input type="password" class="senha3">
        </div><br>

        <div class="user">
            <p>Usuário</p>
            <input type="text" class="usuario1">
        </div><br>

        <button class="botaozin">Concluir</button>
    </selection>
</body>
</html>