<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="calculadora.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>
<body>
    
    <header class="cabecalho17">
        <a href="index.html"><img class="logo1" src="logo.png"></a>
    </header>

    <selection>
        <div>
            <label class="titulo">CALCULADORA DE TMC</label>
        </div><br><br><br>
    </selection>

    <selection class="campo">
        <div class="sex">
            <label id="palavra">Sexo</label>
            <select id="sexo">
            <option selected disabled value="">Sexualidade</option>
            <option>Masculino</option>
            <option>Feminino</option>
            </select>
        </div><br>

        <div>
            <label for="peso" class="palavra1">PESO </label>
            <input id="peso" type="number" placeholder="ex: 70.2">
        </div><br>

        <div>
            <label for="idade" class="palavra2">IDADE </label>
            <input id="idade" type="number" placeholder="ex: 18">
        </div><br>

        <div>
            <label for="idade" class="palavra3">ALTURA (CM) </label>
            <input id="altura" type="number" placeholder="ex: 180">
        </div><br>

        <button class="botao-calcular" type="submit">Calcular</button>

        <script src="TMB.js" type="javascript"></script>
    </selection>

    
</body>
</html>