<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/exercicio1.css">
    <title>Document</title>
</head>

<header class="cabecalho11">
    <a href="./musculacao.html"><img class="logo-login1" src="../images/logo.png"></a>
    <nav class="menuu">
        <a class="menuitem1" href="../index.html">Sair</a>
        <a href="editar.html" class="menuitem2">Editar Perfil</a>
        <a class="foto">Foto de perfil</a>
        <img class="fotinha" src="../images/Rectangle 10.png">
</header>

<body>
    <h1>ABDOMINAL</h1>

    <p class="voltar">👈Voltar</p>

    <selection>
        <img class="img1" src="../images/Rectangle 19.png">
        <img class="img2" src="../images/Rectangle 26.png">
    </selection>

    <div class="conteudo4">
    <h2>RESULTADOS:</h2><br>
    <p>SERVE PARA TRINCAR O SEU ABDÔMEN.</p><br><br>
    <p class="subtitulo">SOBRE O EXERCÍCIO:</p><br>
    <p>INCLINANDO O SEU TRONCO PARA CIMA E DEPOIS DEITANDO VOCÊ REALIZA OS MOVIMENTOS NECESSÁRIOS PARA O ABDOMINAL...</p>
    </div>
</body>
</html>