<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="login.css">
</head>
<body class="corpo">

    <p class="voltar">👈Voltar</p>

    <header class="cabecalho2">
        <a href="index.html"><img class="cabecalho-logo2" src="logo.png"></a>
    </header>

    <selection class="menu6">
    <div class="login">
        <h1 class="login-escrito">LOGIN</h1>
        <br><br><br>
        <a href="logado.html"><button>Enviar</button></a>
    </div>

    <div class="nome">
        <p>NOME</p>
        <input type="text" class="nome1">
        <br><br>
    </div>

    <div class="email">
        <p>E-MAIL</p>
        <input type="email" class="email1" name="E-mail">
    </div>

    <div class="senha">
        <p>SENHA</p>
        <input type="password" class="senha1">
        <br><br>
    </div>
   </selection>
</body>
</html>