<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/musculacao.css">
    <title>Musculação</title>
</head>

<header class="cabecalho17">
    <a href="../view/logado.html"><img class="logo-login1" src="../images/logo.png"></a>
    <nav class="menuu">
        <a class="menuitem1" href="../index.html">Sair</a>
        <a href="editar.html" class="menuitem2">Editar Perfil</a>
        <a class="foto">Foto de perfil</a>
        <img class="fotinha" src="../images/Rectangle 10.png">
</header>

<body>
    <h1>MUSCULAÇÃO</h1>

    <p class="voltar">👈Voltar</p>

    <div>
        <p class="prox">Proximo</p>
    </div>

    <selection class="selecão">
        <img class="img1" src="../images/abdominal.png">
        <img class="img2" src="../images/Rectangle 5.png">
        <img class="img3" src="../images/Rectangle 5.png">
        <img class="img4" src="../images/Rectangle 5.png">
        <img class="img5" src="../images/Rectangle 5.png">
        <img class="img6" src="../images/Rectangle 5.png">
        <img class="img7" src="../images/Rectangle 5.png">
        <img class="img8" src="../images/Rectangle 5.png">
    </selection>

    <selection>
        <a href="./exercicio1.html"><p class="selec1">ABDÔMINAL</p></a>
    </selection>

    <p class="prox1">Proximo</p>
</body>
</html>